@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body, html {
  scroll-behavior: smooth;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .nav-item:hover {
    --tw-bg-opacity: 1;
    border-color: rgb(226 232 240 / var(--tw-text-opacity));
  }

  .separator {
    --tw-bg-opacity: 1;
    border: 1px solid rgba(128, 128, 128, 0.478);
    margin: 1rem 0;
  }

  .outer-link {
    font-weight: bold;
  }

  .paragraph {
    text-align: justify;
    margin: 1rem 0;
  }

}

@layer base {
  .nav-item {
    @apply grid place-items-center py-1 transition-all duration-300 w-full
  }
  .active {
    @apply border-b-2 border-black font-bold w-full text-center
  }
  .nav-hover {
    @apply text-center w-full hover:border-b-2 border-black
  }
  .direct-long-ref {
    @apply pl-[40%] text-sm
  }


}